<% @lists.each do |list| %>
  <div class="my-3 px-2 py-3" style="align-text: center; border: solid 1px red">
    <%= list.name %>
    <%= link_to "Edit", edit_list_path(list) %>
    <%= link_to "Delete", list_path(list),
        method: :delete,
        data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
