<div data-controller="sortable" data-sortable-target="list">
  <% current_user.lists.each do |list| %>
    <div class="my-3 list-card d-flex flex-row sortable-draggable" data-controller="swipe">
      <div class="p-2 links-card">
          <div class="name-card" style="text-align: center">
            <%= link_to list.name, list_path(list) %>
          </div>
      </div>
      <div class="hidden-buttons">
        <%= link_to edit_list_path(list), class: 'reveal-btn edit-btn' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to list_path(list), class: 'reveal-btn btn_hidden_delete',
              method: :delete,
              data: {confirm: "Are you sure?"} do %>
              <i class="fas fa-trash"></i>
            <% end %>
      </div>
    </div>
  <% end %>
</div>
