<%= simple_form_for @list do |f| %>
  <div class="form-inputs" style="height: 150px">
    <%= f.input :name %>
  </div>
  <%= f.submit "Submit list",  class: "lrg-pink-btn" %>
  <%= link_to "Cancel", :back, class: "sml-pink-btn" %>
<% end %>
