<%= simple_form_for @list do |f| %>
  <div class="form-inputs" style="height: 150px">
    <%= f.input :name %>
  </div>
  <%= f.submit "Submit list",  class: "btn-forms-light-outline" %>
  <%= link_to "Cancel", :back, class: "btn-forms-light" %>
<% end %>
