<div class="pt-3">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column name-list" style="width: 300px; height: 100vh">
      <div class="d-flex justify-content-between flex-row">
        <div class="p-2"><h3>Your Lists</h3></div>
        <div class="add-list-icon p-2" >
          <% if policy(List).create? %>
            <%= link_to new_list_path class: "lists-add-btn" do %>
            <%= image_tag "plus.svg" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="mb-3">
        <% if current_user.lists.empty? %>
          <p>Please make a list!</p>
        <% else %>
          <div id="sortablelists">
            <%= render 'card' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
