 <% if policy(@list).edit? %>
    <%= link_to "Update", edit_list_path(@list) %>
<% end %>

<div class="container bg-white">
  <div class="col p-3">
    <h5 class="card-title"><%= @list.name%></h5>
  </div>
</div>

<% if policy(Item).create? %>
  <%= link_to "Add an item", new_list_item_path(@list) %>
<% end %>
