body {
  background-color: #F0DFAD;
}

h2 {
  text-align: center;
  // padding-top: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500px;
  color: #6D3D14;
}

.form-inputs {
  width: 300px;
  height:300px;
  padding-bottom: 5px;
}

.form-control {
  border-radius: 8px;
}

.row > * {
  color: #6D3D14;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn {
  background-color: #f14f52;
  border: 2px solid #f14f52;
  color: #EDF0DA;
  text-decoration: none;
  padding: 7px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  border-radius: 8px;
}

.form-label {
  color: #8D6A44
}

.picture {
position: fixed;
bottom: 25px;
right: 30px;
}

.form-select.is-valid {
    border-color: #EF5D60;
}

.form-select.is-valid select :required {
  border-color: #EF5D60;
}
