// Specific CSS for your home-page
.homepage-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
}

.homepage-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 4px;
}
