// Specific CSS for your home-page
// .btn {
//   border: none;
//   text-align: center;
//   text-decoration: none;
//   font-size: 16px;
//   margin-top: 2px;
//   margin-bottom: 2px;
//   border-radius: 4px;
// }

// .round {
//   background-color: #EF5E60;
//   color: #edf0da;
//   font-weight: bold;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   width: 50vw;
// }

.list-card {
  background-color: #EDF0DA;
  // border-radius: 8px;
  border-top-right-radius: 16px;
}

.name-card > a {
  color: #8D6A44;
  text-decoration: none;
  // font-weight: bold;
}

.links-card > a {
  color: #8D6A44;
  text-decoration: none;
}

.links-card2 > a {
  color: #8D6A44;
  text-decoration: none;
}


h3 {
  font-weight: bold;
  color: #8D6A44;
}

.lists-add-btn > a {
  color: #8D6A44;
  text-decoration: none;
  background-color: #edf0da;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
  font-size: large;
  border: 2px solid #92B4A7;
}


.options > a {
  text-decoration: none;
}
