<div style="background-color: #F0DFAD; text-align: center; color: #6D3D14; width: 100vw; height: 100vh">
  <div class="pt-5">
    <h2>Hello, NAME HERE!</h2>
    <img src="https://via.placeholder.com/150" alt="placeholder"><br>
    <div class="mt-5 mb-3 d-flex justify-content-center">
      <p><%= link_to "➕ Create a list", new_list_path, class: "button button1" %></p>
    </div>
    <div class="mt-3 mb-3 d-flex justify-content-center">
      <p><%= link_to "➕ Add new item", new_item_path, class: "button button1" %></p>
    </div>
  </div>
</div>
