<div style="background-color: #92B4A7; text-align: center; color: #05668D; width: 100vw;">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column name-list" style="width: 300px; height: 100vh;">

      <h1 class="homepage-title">shopPING<h1>
      <h4>Not your ordinary shopping list</h4>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_x2lzmtdl.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
      <div class="my-3">
        <p class="homepage-description">Create shopping lists with locations specified and we'll ping you when you're nearby!</p>
      </div>
      <div class="my-3">
        <div class="d-flex wrapper">
        <%= link_to "GET STARTED!", new_user_registration_path, class: "button" %>
        </div>
        <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                  <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                  </filter>
              </defs>
          </svg>
      </div>
    </div>
  </div>
</div>
