<div style="background-color: #92B4A7; text-align: center; color: #05668D; width: 100vw; height: 100vh">
  <div class="pt-5">
    <h1>shopPING<h1>
    <h4>Not your ordinary shopping list</h4>
    <img src="https://via.placeholder.com/150" alt="placeholder">
    <p>Create shopping lists with locations specified and we'll ping you when you're nearby!</p>
    <button type="button" class="button button2">GET STARTED!</button>
    </div>
</div>
