<div class="pt-5" style="background-color: #92B4A7; text-align: center; color: #05668D; width: 100vw; height: 100vh">
  <h1>shopPING<h1>
  <h4>Not your ordinary shopping list</h4>
  <img src="https://via.placeholder.com/150" alt="placeholder">
  <p>Create shopping lists with locations specified and we'll ping you when you're nearby!</p>
  <%= link_to "GET STARTED!", new_user_registration_path, class: "button button2" %>
</div>
