<div style="background-color: #92B4A7; text-align: center; color: #05668D; width: 100vw;">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column name-list" style="width: 300px;">

      <h1 class="homepage-title">shopPING<h1>
      <h4>Not your ordinary shopping list</h4>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
     <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_x2lzmtdl.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
      <div class="my-3">
        <p class="homepage-description">Create shopping lists with locations specified and we'll ping you when you're nearby!</p>
      </div>
      <div class="my-3">
        <%= link_to "GET STARTED!", new_user_registration_path, class: "home-btn2" %>
      </div>
    </div>
  </div>
</div>
