<div class="list-card">
  <% items.each do |item| %>
    <div class="list-card" style="border: 1px solid red">
      <div><%= render "../views/items/checkbox", item: item %></div>
      <strong>Item: </strong><%= link_to item.name, item_path(item) %><br>
        <% if !item.description.empty? %>
            <strong>Description: </strong><%= item.description %>
        <% end %>
        <%= link_to edit_item_path(item) do %><i class="fas fa-pencil-alt"></i>
        <% end %>
    </div>
  <% end %>
</div>
