<div class='nested-fields'>
  <div data-controller="search">
    <%= f.input :address, input_html: { "data-action" => "input->search#searchLocation", "data-search-target" => "address", "container-id" => "map"} %>
      <div class="d-none" id="map" data-search-target="map" style="height: 300px; width: 300px">
          <!-- Display the map in this div -->
        </div>
  </div>
</div>
