<div class="pt-5">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column name-list" style="width: 300px; height: 100vh">
      <h3>All items</h3>
      <div class="mb-3">
        <% if current_user.items.empty? %>
          <p>Please create an item!</p>
        <% else %>
          <div id="sortableitems">
            <%= render "itemcard", items: current_user.items%>
          </div>
        <% end %>
      </div>
      <div class="my-3 align-self-bottom lists-add-btn" style="text-align: center">
        <% if policy(Item).create? %>
          <%= link_to new_item_path class: "lists-add-btn" do %>
          <%= "+" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
