 <div class="pt-3">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column name-list">
      <h3>Make an item</h3>
      <%= render "form", item: @item%>
    </div>
  </div>
</div>
