.btn-forms-light-outline {
  color: #8D6A44;
  text-decoration: none;
  background-color: #edf0da;
  border-radius: 8px;
  padding: 6px 20px 6px 20px;
  font-size: large;
  border: 2px solid #92B4A7;
}

.btn-forms-light {
  color: #8D6A44;
  text-decoration: none;
  background-color: #edf0da;
  border-radius: 8px;
  padding: 6px 20px 6px 20px;
  font-size: large;
  // border: 1px solid #EF5E60;
}
