.item-desc {
  background: white;
  padding: 10px 30px 10px 10px;
  margin-top: 5px;
  border-radius: 8px;
}

.item-desc p {
  color: $brown;
}

.item-info a {
  color: $brown;
  align-items: center;
}

.item-name {
padding-left: 10px;
}

.item-name a {
  text-decoration: none;
  color: $brown;
}

strong {
  color: $brown;
}
