.item-card-design {
  background-color: $almost-white;
  color: $brown;
  padding: 10px 10px;
  margin: 5px 15px;
  border-radius: 8px;
}

.item {
  flex-grow: 1;
}

.item-card-desc {
  background: white;
  width: 300px;
  padding: 10px 30px 10px 10px;
  margin-top: 5px;
  border-radius: 8px;
}

.item-card-design h6 {
  padding-left: 10px;
}
