.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  border: none;
  background-color: #E3B23C;
  margin-bottom: 2px;
}

.navbar-light .navbar-nav .nav-link {
  color: #6D3D14;
  border: none;
  border-radius: 8px;
}

a.nav-link {
  background-color: #E3B23C;
  width: 150px;
  padding-left: 5px;
  margin-bottom: 2px;
}
