.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // border: 1px solid purple;
}

// .navbar-light .navbar-toggler-icon {
//   background-image: url("/../../images/hamburger_blob.svg");
// }


.navbar-toggler {
  border: transparent;
  position: absolute;
  top: -40px;
  left: -35px;


}

.navbar-light .navbar-nav .nav-link {
  color: #6D3D14;
  border: none;
  border-radius: 8px;
  // border: 1px solid green;
  overflow: hidden;
}

a.nav-link {
  width: 150px;
  padding-left: 30px;
  margin-bottom: 2px;
  // border: 1px solid blue;
}

.drop-down {
  // background-color: #E3B23C;
  // width: 150px;
  // border: 1px solid red;
  margin-top: 65px;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 8px;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.nav-item-login {
margin-top: 65px;
}
