.btn_hidden_delete{
  color: white;
  background-color: red;
  border-radius: 8px;
  text-align: center;
  padding: 4px 4px;
  font-size: 16px;
  text-decoration: none;
}

.list-card {
  overflow: hidden;
  position: relative;

  .links-card {
    transform: translateX(0px);
    transition-duration: 500ms;
    background: #EDF1DB;
    width: 100%;
    z-index: 1;
  }

  .hidden-buttons {
    position: absolute;
    display: flex;
    z-index: 0;
    right: 0px;
    height: 100%;
    width: 50%;

    .reveal-btn {
      width: 50%;
      height: 100%;
      color: white;
      text-align: center;
      font-size: 16px;
      text-decoration: none;
      border: none;
      border-radius: 0;
      padding: 0px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .edit-btn {
      background: #ffbd29;
    }

    .btn_hidden_delete{
      background-color: red;
    }
  }
}

.list-card.open {
  .links-card {
    transform: translateX(-50%);
  }
}

.accordion .container1 {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label1 {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label1::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content1 {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

/* Unhides the content part when active. Sets the height */

.accordion .container1.active .content1 {
  height: 150px;
}

/* Changes from plus sign to negative sign once active */

.accordion .container1.active .label1::before {
  content1: '-';
  font-size: 30px;
}
